<!--<a ui-sref="details({ businessNumber: '12345sdsdsd'})">See the Party</a>-->

<section class="map">
    <script type="text/ng-template" id="searchbox.tpl.html">
        <input class="search-input" type="text" placeholder="חיפוש במפות Google">
    </script>

    <script type="text/ng-template" id="control.tpl.html">
        <div class="custom-control-details">
            <div class="close-btn-prnt" layout="row" layout-align="end center">
                <button class="close-btn">
                    <ng-md-icon icon="close" style="fill:pink" size="24"></ng-md-icon>
                </button>
            </div>
            <div layout="column" layout-margin layout-fill>
                <md-toolbar flex="10">
                    <h2 class="md-toolbar-tools">{{business.name}}</h2>
                </md-toolbar>
                <div flex="30">
                    <img src="/client/img/street/{{business.number}}.jpg">
                </div>
                <div flex="60">
                    <md-content>
                        <md-list>
                            <md-list-item layout="row">
                                <h3 flex>ח"פ:</h3>
                                <p flex> {{ business.number }} </p>
                            </md-list-item>
                            <md-list-item layout="row">
                                <h3 flex>בעלים:</h3>
                                <p flex> {{ business.owner }} </p>
                            </md-list-item>
                            <md-list-item layout="row">
                                <h3 flex>מספר טלפון:</h3>
                                <p flex> {{ business.phone }} </p>
                            </md-list-item>
                            <md-list-item layout="row">
                                <h3 flex>בנק:</h3>
                                <p flex> {{ business.bank }} </p>
                            </md-list-item>
                            <md-list-item layout="row">
                                <h3 flex>מחזוריות:</h3>
                                <p flex> {{ business.period }} </p>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </div>
            </div>
        </div>
    </script>

    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds">
        <ui-gmap-search-box options="searchbox.options" template="searchbox.template" events="searchbox.events" position="searchbox.position"></ui-gmap-search-box>

        <ui-gmap-markers models="map.randomMarkers" coords="'self'" icon="'icon'" modelsbyref="true">
        </ui-gmap-markers>

        <ui-gmap-map-control template="control.tpl.html" position="top-right" controller="controlCtrl" index="-1"></ui-gmap-map-control>

    </ui-gmap-google-map>

    <button ng-click="genRandomMarkers(10)">Generate</button>


</section>
